[submodule "stegano-toffanvahlkar-highwaytojail-2"]
	path = 2-stegano
	url = git@github.com:ToulouseHackingConvention/stegano-toffanvahlkar-highwaytojail-2.git
[submodule "forensic-toffanvahlkar-highwaytojail-3"]
	path = 3-forensic
	url = git@github.com:ToulouseHackingConvention/forensic-toffanvahlkar-highwaytojail-3.git
