[submodule "stegano-toffanvahlkar-allnightlong-2"]
	path = 2-stegano
	url = ssh://git@git.ctf.inpt.fr:10022/THC/stegano-toffanvahlkar-allnightlong-2.git
[submodule "forensic-toffanvahlkar-allnightlong-3"]
	path = 3-forensic
	url = ssh://git@git.ctf.inpt.fr:10022/THC/forensic-toffanvahlkar-allnightlong-3.git
